/*Fuente de letras en toda la pagina*/
@import url('https://fonts.googleapis.com/css2?family=Domine:wght@400;600&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*Variables de colores*/
:root {
    --gold1: #F4BD76;
    --gold2: #f6cd8f;
    --gray: #ffffff80;
    --gray2: #f7d9d990;
    --black1: #1a1b1f;
    --black2: #30353b;
    --shadow: 0 8px 8px;
    --color-shadow: #00000033;
}
div a:hover{
    color: var(--gold1);
    text-decoration: none;
}
body {
    font-family: 'Domine', serif;
}

/*Inicio*/
/*contenedor de la pagina*/
.container {
    width: 90%;
    max-width: 1200px;
    margin: 0 auto;
    overflow: hidden;
    padding: 100px 0;
    height: auto;
}

/*contenedor modificado*/
.container-modif {
    width: 60%;
}

/*HEADER para todas las sesiones*/
.real {
    width: 100%;
    min-height: 100vh;
    background: linear-gradient(180deg, #30353b 0%, #1a1b1f 100%);

}

.nav-real {
    color: #fff;
    height: 70px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}

.imagen-logo {
    width: 50px;
    height: 50px;
}

.nav-container {
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: inherit;
    padding: 0;
}

/*Nombre de la empresa*/
.logoname {
    font-size: 32px;
}

.mayuscula {
    text-transform: uppercase;
    color: var(--gold1);

}

/*Link de nav */
.link {
    display: inline-block;
    color: #Fff;
    text-decoration: none;
    font-weight: 300;
    padding: 10px 10px;
}
.linkColor{
    display: inline-block;
    color: #Fff;
    text-decoration: none;
    font-weight: 300;
    padding: 10px 10px; 
}
.linkColor a:hover{
    color: var(--black2);
}
/*Ellink que aproposito queda siempre de ese color*/
.link-activo {
    color: var(--gold1);
    font-weight: 700;
}

.punto {
    color: var(--gold1);
}

/*Los textos principales*/
.real-principal {
    height: calc(100vh -70px);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0;
}

/*las imagenes del header que usare en toda la pagina  */
.imagenP {
    width: 100%;
    padding: 20px;
    margin: 20px;
    max-height: 90vh;
    object-fit: cover;
}



/*Textos principales*/
.real-textos {
    width: 48%;
}

.titulo {
    font-size: 56px;
    font-weight: 300;
    color: #fff;
}

.titulo-activo {
    color: var(--gold1);
    font-weight: 700;
}

.parrafo {
    font-size: 24px;
    color: var(--gray);
    text-shadow: var(--shadow) var(--color-shadow);
    margin: 15px 0;
}

.parrafo-activo {
    font-weight: 700;
}

.cta {
    padding: 20px 30px;
    display: inline-block;
    background: linear-gradient(180deg, #f7ce90 0%, #f48d76 100%);
    text-decoration: none;
    color: var(--black2);
    font-weight: 700;
    box-shadow: var(--shadow) var(--color-shadow);
    border-radius: 6px;
}

/*Fin del header de todas las sesiones*/
/*Inicio parte de servicios*/
.servicios {
    background: #fafafa;
}

.subtitulo {
    font-size: 42px;
}

.subtitulo-modif {
    text-align: center;
    margin-bottom: 16px;
}

.parrafo-section {
    color: var(--black1);
    font-size: 22px;
    line-height: 32px;
    margin-bottom: 60px;
}

.parrafo-section-mofif {
    text-align: center;
    margin: 0 auto;
    margin-bottom: 32px;
}

.container-card {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.card {
    width: 30%;
    padding: 30px 0;
    overflow: hidden;
    background: linear-gradient(180deg, var(--black2) 0%, var(--black1)100%);
    border-radius: 10px;
    position: relative;
    text-align: center;
    margin-bottom: 60px;
    box-shadow: 0 0 6px var(--color-shadow);
}

.card-img {
    width: 95%;
    height: 200px;
    object-fit: cover;
    border-radius: 10px 0 0 10px;
}

.cards-text {
    text-align: left;
    width: 95%;
    margin: 0 auto;

}

.card-list {

    color: var(--gold2);
    font-weight: 700;
    margin: 25px 0 12px;
    font-size: 18px;
}

.card-title {
    font-size: 40px;
    color: #fff;
    margin-bottom: 8px;
}

.card-parrafo {
    color: var(--gray2);
    margin-bottom: 16px;
}

.card-button {
    display: block;
    background: linear-gradient(180deg, #f7ce90 0%, #f4bd76 100%);
    border-radius: 6px;
    text-decoration: none;
    width: 90%;
    color: var(--black1);
    font-weight: 700;
    text-align: center;
    padding: 12px 0;
}

.card-date {
    color: var(--gold2);
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 16px;
}

.container-bg {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.background {
    width: 68%;
    height: 290px;
    border-radius: 10px;
    position: relative;
    margin-bottom: 60px;
}

.background-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: inherit;
}

.background-text {
    position: absolute;
    width: 100%;
    bottom: 30px;
    left: 15px;
    color: #fff;
}

.background-title {
    font-size: 24px;
    margin-bottom: 4px;
    color: var(--black1);
    font-weight: 200;
}

.background-copy {
    font-size: 20px;
    margin: auto;
    color: var(--black1);
    font-weight: 200;
}

.tienda {
    background: #fafafa
}

.tienda-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.tienda-card {
    width: 30%;
    height: 500px;
    background: linear-gradient(180deg, var(--black2) 0%, var(--black1)100%);
    border-radius: 10px;
    position: relative;
    margin-bottom: 30px;
}

.tienda-img {
    width: 100%;
    height: 100%;
    border-radius: inherit;
    object-fit: cover;
    object-position: center top;

}

.tienda-copy {
    position: absolute;
    bottom: 20px;
    left: 5%;
    width: 90%;
    background: linear-gradient(180deg, var(--black2) 0%, var(--black1)100%);
    color: #fff;
    margin: 0 auto;
    border-radius: 10px;
    box-shadow: var(--shadow) var(--color-shadow);
    padding: 15px 8px;
    display: flex;
    align-items: center;
}

.tienda-copy .copy-moficador {
    background: none;
    box-shadow: none;

}

.tienda-logo {
    font-size: 40px;
    margin-right: 15px;
    display: inline-block;
}

.tienda-name {
    font-size: 24px;
    line-height: 28px;
}

.tienda-position {
    color: var(--gray);
}

.tienda-text {
    padding: 40px 0;
    width: 90%;
    margin: 0 auto;
}

.tiendaLink {
    color: var(--gold1);
    text-decoration: none;
    font-family: inherit;
    font-size: 15px;
}


.tienda-info {
    width: 70%;
}

.tienda-logo {
    width: 40px;
    height: 40px;
    object-fit: cover;
    border-radius: 50%;
    object-position: center top;
}

/*Fin de inicio parte tienda*/
/*Inicio parte de propaganda */
.check {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    margin: 0 auto;
}

.check-item {
    width: 30%;
    padding-right: 10px;
    display: flex;
    border-right: 2px solid var(--black2);
}

.bx-check {
    background: linear-gradient(180deg, var(--black2) 0%, var(--black1)100%);
    display: inline-block;
    width: 40px;
    height: 40px;
    text-align: center;
    margin-right: 20px;
    color: #fff;
    border-radius: 50%;
    font-size: 40px;
}

.check-number {
    font-weight: 700;
}

.check-parrafo {
    font-weight: 300;
}

.casilla {
    width: 60%;
    margin: 0 auto;
    margin-top: 40px;
    text-align: center;
    height: auto;
    font-family: inherit;
    position: relative;
    border-radius: 6px;
}



.casilla-imput {
    width: 100%;
    height: 100%;
    padding: 22px 10px;
    outline: none;
    font-family: inherit;
    border-radius: 6px;
    border: 1px solid var(--black1);
}

.casilla-submit {
    position: absolute;
    right: 8px;
    top: 10%;
    height: 80%;
    background: linear-gradient(180deg, var(--black2) 0%, var(--black1)100%);
    color: #fff;
    padding: 0 15px;
    border: none;
    border-radius: 6px;
    font-family: inherit;
    font-weight: 700;
    cursor: pointer;
}

.casillar-modif {
    margin: 0;
    width: 80%;
}

/*fin de la parte de propaganda en inicio*/
/*footer de todas las sesiones*/
.footer {
    background: #8a8a8a28;
}

.footer-caption {
    display: flex;
    flex-wrap: wrap-reverse;
    justify-content: space-evenly;
}

.title-footer {
    font-size: 24px;
    margin-bottom: 32px;
}

.get-email {
    width: 50%;

}

.socialmedia {
    margin-top: 24px;
    display: flex;
    color: var(--black2);
}

.socialmedia-icon {
    font-size: 18px;
    margin-right: 30px;
    display: inline-block;
}

.socialmedia-legen {
    color: var(--black2);
    margin-right: 6px;
}

.contacto {
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    color: #fff;
}

.item-contacto {
    width: 25%;
    color: #fff;
    padding: 60px 0;
    text-align: center;
    background: linear-gradient(180deg, var(--black2) 0%, var(--black1)100%);

}

.item-contactogold {
    background: linear-gradient(180deg, #f7ce90 0%, #f48d76 100%);
    color: var(--black1);
}

.contacto-icon {
    font-size: 14px;
    color: var(--gold1);
    line-height: 20px;
    margin-right: 4px;
}

.contacto-iconmdif {
    color: var(--black1);
}

.contacto-title {
    font-size: 16px;
    line-height: 20px;


}

.contacto-title a {
    color: var(--black1);
    text-decoration: none;

}

.servicio {
    height: calc(100vh -70px);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0;
}

.servicioTextos {
    width: 48%;
}

.title {
    font-size: 56px;
    font-weight: 300;
    color: #fff;
}

.title-active {
    color: var(--gold1);
    font-weight: 700;
}

.copy {
    font-size: 24px;
    color: var(--gray);
    text-shadow: var(--shadow) var(--color-shadow);
    margin: 15px 0;
}

.copy-active {
    font-weight: 700;
}

.contacto-title a {
    text-decoration: none;
    color: #fff;
    display: inline-block;
}

.imagen-blog {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.texto {
    text-align: center;
    text-align: center;
    font-size: 20px;
    font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
        "Lucida Sans", Arial, sans-serif;
    padding: 50px;
    font-weight: lighter;
    color: black;
}

.redesblog {
    display: flex;
    color: lightblue;
    text-align: center;
    justify-content: space-around;
    padding: 50px;
    margin: 50px;
}

.boton {
    margin: auto;
    display: block;
    text-align: center;
    text-decoration: none;
    color: var(--black2);
}

.blog-titulo {
    font-weight: bold;
    font-size: 25px;
    color: white;
    padding: 80px;
    margin: 80px;
    text-align: center;
}

.blog1 {
    width: 100%;
    min-height: 50vh;
    background: linear-gradient(180deg, var(--black2) 0%, var(--black1)100%);
}

.socialmedia-blog {
    color: rgba(198, 219, 248, 0.781);
    font-size: 18px;
    margin-right: 30px;
    display: inline-block;
    margin-left: 30px;
}

.containerNosotros {
    width: 100%;
    min-height: 50vh;
    background: linear-gradient(180deg, var(--gold1) 0%, var(--gold2)100%);

}

.parrafo-nos {
    font-size: 1.8em;
    font-weight: 300;
    font-family: "Josefin Slab", serif;
    text-align: center;
    margin: auto;
    padding: 30px;
    color: var(--black2);
}

.subtitle-nos {
    font-size: 2.75em;
    font-family: inherit;
    color: var(--black1);
    font-weight: 100;
    text-align: center;
    margin: 20px;
    padding: 20px;
}

.mapa {
    text-align: center;
    display: block;
    padding: 80px;
    margin-bottom: 20px;
    color: var(--black2);
}

@media screen and (max-width:900px) {
    .celu {
        width: 600px;
        height: auto;
    }

    .title {
        font-size: 50px;
    }

    .copy {
        font-size: 22px;
    }

    .cta {
        padding: 15px 22px;
    }

    .container-card {
        justify-content: space-evenly;
    }

    .servicios .card {
        width: 45%;
    }

    .background {
        width: 52%;
    }

    .card {
        width: 42%;
    }

    .testimonios-container {
        justify-content: space-evenly;
    }

    .testimonio-card {
        width: 45%;
    }

    .check-item {
        width: 45%;
        margin-bottom: 35px;
    }

    .newsletter {
        width: 80%;
    }

    .get-email {
        width: 100%;
        margin-bottom: 40px;
    }

    .socialmedia-icon {
        font-size: 18px;
    }

    .socialmedia-legen {
        font-size: 18px;
    }
}

@media screen and (max-width:700px) {

    main .container,
    footer .container {
        padding: 60px 0;
    }

    .nav-container {
        flex-wrap: wrap;
        justify-content: space-evenly;
    }

    .nav-her {
        height: auto;
    }

    .logoname {
        padding: 15px 0;
        text-align: center;
    }

    .links {
        padding-bottom: 10px;
        text-align: center;
    }

    .link {
        padding: 7px 10px;
    }

    .hero-main {
        flex-direction: column-reverse;
        justify-content: flex-end;
        height: auto;
        padding: 30px 0;
    }

    .hero-textos {
        width: 100%;
        text-align: center;
    }

    .celu {
        width: 60%;
        margin-bottom: 20px;
    }

    .title {
        font-size: 35px;
    }

    .copy {
        font-size: 20px;
    }

    .subtitle {
        font-size: 35px;
        text-align: center;
    }

    .copy-section {
        font-size: 20px;
        text-align: center;
    }

    .servicios .card {
        width: 80%;
    }

    .container-bg {
        justify-content: space-evenly;
    }

    .card {
        margin-bottom: 40px;
        width: 65%;
    }

    .card-title {
        font-size: 35px;
    }

    .card-button {
        width: 100%;
    }

    .background {
        width: 65%;
        margin-bottom: 40px;
    }

    .background-copy {
        display: none;
    }

    .testimonio-card {
        width: 65%;
    }

    .testimonio-name {
        font-size: 20px;
    }

    .container-modif {
        width: 80%;
    }

    .item-contacto {
        width: 100%;
        padding: 30px 0;
    }
}

@media screen and (max-width:500px) {
    .celu {
        width: 80%;
        margin-bottom: 15px;
    }

    .servicios .card {
        width: 95%;
    }

    .card {
        width: 95%;
    }

    .background {
        width: 95%;
    }

    .testimonio-card {
        width: 95%;
    }

    .testimonio-historia {
        font-size: 20px;
    }

    .container-modif {
        width: 90%;
    }

    .newsletter {
        width: 100%;

    }

    .newsletter-modif {
        display: none;
    }

    .check-item {
        width: 100%;
        border: none;
        padding: none;
    }
}