@import "../base/variables";

header {
    .real {
        width: 100%;
        min-height: 100vh;
        background: linear-gradient(180deg, #30353b 0%, #1a1b1f 100%);
        .nav-real {
            color: $color8;
            height: 70px;
            border-bottom: 1px solid rgba(255, 255, 255, 0.1);
            .container {
                width: 90%;
                max-width: 1200px;
                margin: 0 auto;
                overflow: hidden;
                padding: 100px 0;
                height: auto;
                .nav-container {
                    display: flex;
                    align-items: center;
                    justify-content: space-around;
                    height: inherit;
                    padding: 0;
                    .imagen-logo {
                        width: 50px;
                        height: 50px;
                        .logo-name {
                            font-size: 32px;
                            .mayuscula {
                                text-transform: uppercase;
                                color: var($color1);
                                .link {
                                    display: inline-block;
                                    color: var($color8);
                                    text-decoration: none;
                                    font-weight: 300;
                                    padding: 10px 10px;
                                    .link-activo {
                                        color: var($color1);
                                        font-weight: 700;
                                        .real-principal {
                                            height: calc(100vh -70px);
                                            display: flex;
                                            justify-content: space-between;
                                            align-items: center;
                                            padding: 0;
                                            .real-textos {
                                                width: 48%;
                                                .titulo {
                                                    font-size: 56px;
                                                    font-weight: 300;
                                                    color: var($color8);
                                                    .titulo-activo {
                                                        color: var($color1);
                                                        font-weight: 700;
                                                        .parrafo {
                                                            font-size: 24px;
                                                            color: var($color3);
                                                            text-shadow: var($color5) var($color6);
                                                            margin: 15px 0;
                                                            .parrafo-activo {
                                                                font-weight: 700;
                                                                .cta {
                                                                    padding: 20px 30px;
                                                                    display: inline-block;
                                                                    background: linear-gradient(180deg, #f7ce90 0%, #f48d76 100%);
                                                                    text-decoration: none;
                                                                    color: var($color7);
                                                                    font-weight: 700;
                                                                    box-shadow: var($color5) var($color6);
                                                                    border-radius: 6px;
                                                                    .imagenP {
                                                                        width: 100%;
                                                                        padding: 20px;
                                                                        margin: 20px;
                                                                        max-height: 90vh;
                                                                        object-fit: cover;
                                                                        .punto {
                                                                            color: var($color1);
                                                                            .linkColor {
                                                                                display: inline-block;
                                                                                color: var($color8);
                                                                                text-decoration: none;
                                                                                font-weight: 300;
                                                                                padding: 10px 10px;
                                                                                .container-modif {
                                                                                    width: 60%;
                                                                                }
                                                                            }
                                                                        }
                                                                    }
                                                                }
                                                            }
                                                        }
                                                    }
                                                }
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}