.real-textosNos{
    width: 1000%;
    margin: 20px;

    .titulo-activo{
        color: #F4BD76;
    font-weight: 700;
    font-size: 58px;
    text-align: center;
    justify-content: center;
    }
}

.containerNosotros{
    width: 100%;
    min-height: 50vh;
    background: #fafafa;
    .subtitle-nos{
        font-size: 2.75em;
        font-family: inherit;
        color: #1a1b1f;
        font-weight: bold;
        text-align: center;
        margin: 20px;
        padding: 20px;
    }
    .parrafo-nos{
        font-size: 1.8em;
        font-weight: 300;
        font-family: "Josefin Slab", serif;
        text-align: center;
        margin: auto;
        padding: 30px;
        color: #1a1b1f;
    }
}
.subtitle-nos{
    font-size: 1.75em;
        font-family: inherit;
        color: #1a1b1f;
        font-weight: bold;
        text-align: center;
        margin: 20px;
        padding: 20px;
}
.bg-nosotros{
    background-color: #30353b;

    .nombre{
        font-size: 30px;
    color: #ffffff;
    margin-bottom: 8px;
    text-align: center;
    }
    .puestoTrabajo{
        color: #ffffff;
        margin-bottom: 16px;
        padding: 20px;
    }
    .card-button{
        padding: 20px 30px;
        display: inline-block;
        background: #F4BD76;
        text-decoration: none;
        color: #30353b;
        font-weight: 700;
        box-shadow: 0 8px 8px, #00000033;
        margin: 10px;
    }
}
